#active-mission-encryption-task
{
    height:600px;
}

#active-mission-encryption-grid
{
    display:grid;
}

.unsolved-encryption-cell
{
    background-color:green;
    font-weight:bold;
}
.solved-encryption-cell
{
    background-color:black;
    color:green;
}

.encryption-cell
{
    width:30px;
}


.unsolved-password
{
    border: 1px solid red;
    background-color: lightcoral;
}

.solved-password
{
    border: 1px solid green;
}

#world-map
{
    padding:0px;
    position:relative;
}

#active-mission-machine-details
{
    border:1px solid black;
    display:none;
}

.computer
{
    position: absolute;
    width:10px;
    height:10px;
    border: 1px solid black;
    z-index:4;
}

.PlayerComputer
{
    background-color:#ffffff;
    z-index:5;
}

.PublicComputer
{
    background-color:dodgerblue;
}


.world-map-div
{
    position:absolute;
    top:0px;
    left:0px;
}

#svg-container
{
    z-index:2;
}

#canvas-container
{
    z-index:1;
}

#computer-build-layout
{
    display: grid;
    border: 1px solid black;
    grid-gap: 1px;
    background-color: black;
}

.cpuHolder
{
    background-color:dimgray;
    min-width:30px;
    max-width:30px;
    min-height:30px;
    max-height:30px;
    padding: 1px 1px 1px 2px;
    cursor:pointer;
}

.unaffordable-part
{
    color: lightgray;
}

.affordable-part
{
    cursor:pointer;
}

.chosenPart
{
    background-color: lightblue;
}

#player-company-standings-title
{
    font-weight: bold;
}

.percentage-bar-container
{
    border: 1px solid black;
    position:relative;
    text-align: center !important;
    width: 90%;
}

.percentage-bar
{
    background-color: darkgreen;
    width:0%;
    height:100%;
}

.percentage-text
{
    position:absolute;
    top:0;
    width:100%;
}

.cpu-load-changer
{
    width: 5%;
    text-align: center;
    border:1px solid black;
    cursor:pointer;
}

#tasks-row
{
    height: 50px;
    overflow-y: auto;
}

.cpu-mission-task
{
    font-size:x-small;
}

.cpu-task-bar > div
{
    display: inline-block;
}

#connection-trace-progress > .percentage-bar-container
{
    width: 100%;
}
